@model PieShop.Models.Pie
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Create</h2>
            <br />
        </div>
        <div class="mb=3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb=3">
            <label asp-for="ShortDescription"></label>
            <input asp-for="ShortDescription" row="1" class="form-control"/>
            @* <span asp-validation-for="BookTitle" class="text-danger"></span>
      *@  </div>

        <div class="mb=3">
            <label asp-for="LongDescription"></label>
            <textarea asp-for="LongDescription" row="3" class="form-control"/></textarea>
@*            <span asp-validation-for="LongDescription" class="text-danger"></span>
*@        </div>

        <div class="mb=3">
            <label asp-for="ImageUrl"></label>
            <input id="uploadbox" type="text" asp-for="ImageUrl" class="form-control"/>
        </div>
        <div class="mb=3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <hr />
       
        <button type="submit" class="btn btn-primary" style="width:100px">Create</button>
         <a asp-controller="Pies" asp-action="Index" class="btn btn-primary">Back</a>

    </div>
</form>

@section Scripts{
    @{
        <partial name= "_ValidationScriptsPartial"/>
    }
            }
        <script>
            function ValidateInput() {
                if(document.getElementById("uploadbox").value==""){
                    Swal.fire({
                        icon:'error',
                        title:'Oops......',
                        text:'Please Upload image file!!!!',

                    })
                    return false;
                }
                return true;
            }

        </script>
