@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">*@
   
 @*<body background: https://eu-assets.simpleview-europe.com/birmingham-visit/imageresizer/?image=%2Fdmsimgs%2FMad_O_rourkes_1563181822.jpg&action=ProductDetailProFullWidth,https://eu-assets.simpleview-europe.com/birmingham-visit/imageresizer/?image=%2Fdmsimgs%2FMad_O_rourkes_1563181822.jpg&action=ProductDetailProFullWidth;
  background-size: 300px 100px, cover;></body>
  /* first image is 300x100, second image covers the whole area */
*@
 <body background="https://eu-assets.simpleview-europe.com/birmingham-visit/imageresizer/?image=%2Fdmsimgs%2FMad_O_rourkes_1563181822.jpg&action=ProductDetailProFullWidth"></body>


    @*<img src="https://www.madorourkes.com/images/a-pie%20factory-world-famous-phone.jpg?crc=3948671251"  width="100%" height="100%"/>
   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


