@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>ContactUS</h2>

<div style="text":"bold" ; "font-size":"50px"></div>
A pie shop is a take away (fast food) outlet specialising in pies, especially meat pies. Common in some parts of the United Kingdom and Australia.[1]

A form of specialised bakery, or in more recent times purely a retail outlet selling reheated cooked pies, pie shops in Australia usually sell meat pies, sausage rolls, pasties and other pastry-wrapped baked goods.
The growth of hot bread shops (direct sale bakeries, often franchises) in Australia has largely supplanted the specialist pie shop.</p>
